
.viewport-1 {
  background: linear-gradient(to right, rgb(255, 255, 255) , rgb(123, 233, 230));
}

.titulo-cartelera {
  text-align: center;
  font-family: fantasy, Oswald, Helvetica, sans-serif;
  font-size: 60px;
  padding: 1em 0em;
  /* transform: skewY(-3deg); */
  letter-spacing: 4px;
  word-spacing: -8px;
  color: cornflowerblue;
  text-shadow: 
  -1px -1px 0 ,
  -2px -2px 0 navy,
  -3px -3px 0 navy,
  -4px -4px 0 navy,
  -5px -5px 0 navy,
  -6px -6px 0 navy,
  -7px -7px 0 navy,
  -8px -8px 0 navy,
  -30px 20px 40px dimgrey;
}

.contenedor-peliculas {
  /* border: 2px solid blue; */
  box-shadow: 4px 4px 5px #888888;
  border-radius: 2em;
  /* background-color: cornflowerblue; */
  background: linear-gradient(to left , cornflowerblue , rgb(123, 233, 230));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}