/* al parecer este diseno no lo estoy usando, pero lo dejo por si acaso */
.inisesion {
  background-color: rgba(214, 206, 135, 0.5);
}

/* Esto es para que el texto hoovereado se vea como un enlace y el puntero del mouse cambie a manito */
.enlace:hover {
  /* color:blue ; */
  /* font-weight: bold; */
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}

/* Esto es para que el puntero del mouse cambie a manito */
.enlace-icono:hover {
  /* color:blue ; */
  /* font-weight: bold; */
  /* text-decoration: underline; */
  /* text-underline-offset: 3px; */
  cursor: pointer;
}

/* Esto es para reducir el alto de las filas de la tabla de salas, para que se vea mas compacta y ocupe menos espacio en la pantalla 
Codigo sugerido por claude, no funciono... */
.tabla-salas td, .tabla-salas th {
  padding-top: 0px;
  padding-bottom: 0px;
}